@font-face {
  font-family: Robotoitalic;
  src: url(fonts/roboto/Roboto-Italic.ttf);
}

@font-face {
  font-family: Robotoregular;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Robotomedium;
  src: url(fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Robotobold;
  src: url(fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Robotoblack;
  src: url(fonts/roboto/Roboto-Black.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Robotobold;
  margin: 0%;
  width: 0%;
  display: flex;
  flex-direction: column;
}

.all {
  padding: 0% 1.5% 0% 1.5%;
  display: flex;
}

.main {
  flex-basis: 50%;
  text-align: center;
  display: flex;
  font-size: larger;
  flex-direction: column;
}

.contactus {
  flex-basis: 50%;
  height: 100vh;
  text-align: center;
  padding: 0% 0%;
  font-family: Roboto;
  display: flex;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  justify-content: space-between;
}

.contactus span {
  font-size: 22px;
  padding: 2%;
}

.circle1 {
  width: 100%;
  display: flex;
  justify-content: left;
}

.circle2 {
  height: 12vh;
  width: 12vh;
  border-radius: 0 0 80px 0;
  background: linear-gradient(135deg, #2AFADF 0%, #4C83FF 100%);
}

.text {
  text-align: left;
}

.icons {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 34px;
}

.formarea {
  background: linear-gradient(135deg, #2AFADF 0%, #4C83FF 100%);
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.phone {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#name{
  margin-top: 10%;
}
#name,
#email {
  width: 50%;
  padding: 2%;
  font-size: large;
  border-radius: 14px;
  border: none;
}

#message {
  margin-top: 5%;
  width: 50%;
  font-size: large;
  border-radius: 14px;
  border: none;
  padding: 1% 3%;
}

#submit {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 28px;
  color: white;
  font-family: Robotobold;
  padding: 1% 3%;
  border: none;
  border-radius: 10px;
  background: #2F9ECB;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}