.main{
    background-color: blueviolet;
    flex-basis: 100vh;
    
}
.amount{
    background-color: brown;
    display: flex;
    flex-direction: column;
}
.duration{
   display: flex;
   flex-direction: column;
   justify-content: right;
}

