@font-face {
  font-family: Robotoitalic;
  src: url(fonts/roboto/Roboto-Italic.ttf);
}

@font-face {
  font-family: Robotoregular;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Robotomedium;
  src: url(fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Robotobold;
  src: url(fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Robotoblack;
  src: url(fonts/roboto/Roboto-Black.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  width: 100%;
}

.events {
  font-family: Robotobold;
  text-align: center;
  margin: 0% 0% 1% 0%;
  background: linear-gradient(135deg, #2AFADF 0%, #4C83FF 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 15%;
  margin: 2% 20% 5% 20%;
}
.events a {
  color: white;
  text-decoration: none;
  margin: 0%;
}
.two{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cards {
  background-color: white;
  border-radius: 14px;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  margin: 2% 0% 0% 0%;
  height: 64vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0% 0% 1% 0%;
}

h1 {
  font-family: Robotobold;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
}

h2 {
  margin: 0% 3%;
}

P {
  margin-top: 0%;
  text-align: left;
  padding: 3% 5%;
  font-size: 22px;
  font-family: Roboto;
}

.but {
  background: #1CABE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  font-family: Robotobold;
}
