@font-face {
  font-family: Robotoitalic;
  src: url(fonts/roboto/Roboto-Italic.ttf);
}
@font-face {
  font-family: Robotoregular;
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Robotomedium;
  src: url(fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Robotobold;
  src: url(fonts/roboto/Roboto-Bold.ttf);
}
@font-face{
  font-family: Robotoblack;
  src: url(fonts/roboto/Roboto-Black.ttf);
}
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
.ftext{
  font-family: Robotoregular;
  font-size: 22px;
  padding: 0%;
}
.okolea{
  font-family: Robotobold;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 0%;
}
.fam{
  background: linear-gradient(135deg, #2AFADF 0%, #4C83FF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socialicons{
  padding: 0%;
  align-items: center;
  display: flex;
  flex-basis: 25%;
  justify-content: space-evenly;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: black;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-instagram {
  color: white;
}
.fa:hover {
  overflow: hidden;
  color: black;
  cursor: pointer;
  background: linear-gradient(135deg, #2AFADF 0%, #4C83FF 100%);
}
